@mixin px2px($attrName, $value) {
    html[data-dpr="1"] & {
        #{$attrName}: $value * 1px;
    }
    html[data-dpr="2"] & {
        #{$attrName}: $value * 2px;
    }
    html[data-dpr="3"] & {
        #{$attrName}: $value * 3px;
    }
}

@function px2rem($value) {
    @return $value/75 * 1rem;
}

// 公共页面样式
html {
    height: 100%;
}
.wrapper {
    position: absolute;
    box-sizing: border-box;
    padding: px2rem(80) 0 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: scroll;
}
div[name="dialog"] {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

// 过渡效果
.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
    transition: all 0.5s ease;
}

// 文本超出隐藏
.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 清除浮动
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

// 按钮样式
.btn {
    display: inline-block;
    width: px2rem(180);
    height: px2rem(80);
    line-height: px2rem(80);
    border: px2rem(2) solid #f2f2f2;
    border-radius: px2rem(40);
    text-align: center;
}
.btn-primary {
    background: rgb(104, 104, 230);
    color: #ffffff;
}
.btn-primary:hover {
    background: rgb(79, 79, 228);
}
.btn-success {
    color: #67c23a;
    background-color: #f0f9eb;
}
.btn-info {
    color: #909399;
    background-color: #f4f4f5;
}
.btn-warning {
    color: #e6a23c;
    background-color: #fdf6ec;
}
.btn-error {
    color: #f56c6c;
    background-color: #fef0f0;
}